<header id="header">
    <div class="header-inner">
      <div class="logo">
        <img src="photo\logo.png" alt="Logo"
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" />
      </div>
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Главная</a>
              </li>
              <li class="nav-item">
                <select class="nav-link" aria-label="Выбор раздела">
                  <option selected>«Светлое»</option>
                  <option value="hosting.html">Размещение</option>
                  <option value="bathhouse.html">Баня</option>
                  <option value="additionalServices.html">Доп.услуги</option>
                </select>
              </li>
              <li class="nav-item">
                <select class="nav-link" aria-label="Выбор раздела">
                  <option selected>«Трехречье»</option>
                  <option value="hostingTreh.html">Размещение</option>
                  <option value="bathhouseTreh.html">Баня</option>
                  <option value="additionalServicesTreh.html">Доп.услуги</option>
                </select>
              </li>
              <li class="nav-item"><a class="nav-link" aria-current="page" href="../about.html">О нас</a></li>
              <li class="nav-item"><a class="nav-link" aria-current="page" href="../contacts.html">Контакты</a></li>
            </ul>
          </div>
      </nav>
    </div>
  </header>